
body {
  
  font-family: 'Roboto', sans-serif;
  
}

.logo{
  color: var(--iris, #4D5AE5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo span{ 
  color: var(--navyblue, #2E2F42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
 text-transform: uppercase;
}


.nav-bar ul{
 list-style: none;
 text-decoration: none;
 font-size: 16px;
 font-style: normal;
 font-weight: 600;
 line-height: 24px; /* 150% */
 letter-spacing: 0.32px;
 margin: 0;
 padding: 0;
 
}

.list{
  text-decoration: none;
  color: black;
}

.nav-bar ul li a:hover {
  color: var(--iris, #4D5AE5);
  text-decoration: none;
  
}


.contact-item {

  list-style: none;
  margin: 0%;
  padding: 0%;  

}

.mail-list {
  text-decoration: none;
  color: var(--slate, #434455);

  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.contact-list {
  text-decoration: none;
  color: var(--slate, #434455);

 /* Body */

 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px; /* 150% */
 letter-spacing: 0.32px;
}

.main-text{
  background-color: var(--navyblue, #2E2F42);
  color: white;
  font-size: large

}

.top-text{
  text-align: center;
  text-transform: uppercase;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;   
}

.button-item{
  background-color:var(--iris, #4D5AE5);
  font-size: 16px;
  font: bolder;
  color: white;
  border-radius: 4px;
  border: none;

}

.services-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.what-we-do-text {
  color: var(--navyblue, #2E2F42);
  text-align: center;
  
  /* Header 2 */
  
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section3-item{
  
}
  
  
  


