
body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}

.header-text {
  color: var(--iris, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}

p::after{
  color: var(--iris, #95547d);
}
 
.link {
  color: teal;
  
}

.link:hover {
  color: tomato;
}

.navigation .link {
  color: teal;
}

.navigation .link:focus {
  color: orange;
}

.list{
  list-style: none;
  
}  

.section1-item{
  background-color: var(--navyblue, #2E2F42);
  color: white;
  text-align: center;
  font-size: large;

}

.button-item{
  background-color:var(--iris, #4D5AE5);
  color: white;
}